* {
  box-sizing: border-box;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
img {
  display: block;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Task_1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.34;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#categories ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 360px;
}

.item li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Task_2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* Task_3 */

input {
  padding: 16px 8px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}


